#search_widget form {
  width: 80%!important;
}

/* .container {
  max-width: 1200px!important;
} */


  .newsletter {
    margin: 0 15px 15px;
  }

  #home2 .desktop_cart .header-cart span {
    left: 12px!important;
  }

  .desktop_cart .header-cart {
    position: relative;
    padding-left: 0;
    border-left: none;
    color: #666;
    text-align: center;
    cursor: pointer;
    margin-left: 0;
  }

  .desktop_cart .header-cart span {
    top: -13px!important;
  }

  .header-top .margin-0 {
    margin: 0!important;
  }

  .header-top {
    background: white;
  }
  .header-top .margin-0 {
    margin: 0;
  }
  .header-top .margin-0 .icon-menu {
    width: 77px;
    font-size: 19px;
    color: #222;
    height: auto;
    border-right: 1px solid #eee;
  }
  .header-top .margin-0 .icon-menu i {
    cursor: pointer;
  }
  .header-top .margin-0 .main-menu {
    width: 39%;
    float: left;
  }
   .header-top .margin-0 .flex-2 {
    width: calc(21% - 155px);
  }
   .header-top .margin-0 #search_widget {
    width: calc(40% + 78px);
  }
   .header-top .margin-0 #search_widget i {
    width: 21px;
    text-align: center;
  }
   .header-top .margin-0 #search_widget .search-header-top, .header-top .margin-0 #search_widget #block_myaccount_infos {
    padding: 0 30px;
    border-left: 1px solid #eee;
    height: 110px;
    cursor: pointer;
  }
   .header-top .margin-0 #search_widget #block_myaccount_infos {
    line-height: 8;
  }
   .header-top .margin-0 #search_widget #block_myaccount_infos #acount {
    top: 6.9rem;
    left: inherit;
    right: 78px;
  }
   .header-top .margin-0 #search_widget #block_myaccount_infos #acount .account-list-content div {
    line-height: 2;
  }
   .header-top .margin-0 .desktop_cart {
    padding: 0 30px;
    border-left: 1px solid #eee;
    height: 110px;
    cursor: pointer;
  }
   .header-top {
    position: inherit;
  }
   .header-top .main-menu .menu .menu-top li:nth-child(3) .dropdown-menu {
    left: 0rem;
  }
   .block-cart .dropdown-content {
    right: 15px;
  }
  .desktop_cart .header-cart span {
    left: 12px!important;
  }

  #myDIV{
    padding: 20px 0px 0px 0px;
  }
  
  #myDiv .input-group {
    width: 100%!important;
  }
  
  #myDIV button{
    background: #333333;
    color: #ffffff;
    font-size: 14px!important;
    padding: 0px 30px;
    border-radius: 0 5px 5px 0!important;
  }
  #myDIV button:hover{
    background: #333333;
    color: #ffffff;
    opacity: 0.9;
  }
  .promo-form input.form-control {
    border: 1px solid #ced4da!important;  
    height: auto!important; 
    padding-right: 6.25rem;
    padding-left: 1.5rem!important;
    border-radius: 5px 0 0 5px!important;
  }
  .promo-form .input-group {
    width: 100%!important;
  }
  
  .promo-btn {
    border: 1px solid #A7A9AC!important;
    border-radius: 0px!important;
    /* padding: .25rem .75rem!important; */
  }

  .cart__summary__amount{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .cart__summary__amount dt{
    margin-top: 4px;
    width: 40%;
  }
  .cart__summary__amount dd{
    width: 60%;
    text-align: right;
    margin-bottom: 0px!important;
  }
  .cart__summary__amount-subtotal,.cart__summary__amount-delivery{
    font-weight: 300;
  }
  .cart__summary_amount-payable{
    font-weight: 600;
    color: #333;
    font-size: 1rem;
  }
  .cart__summary_amount-payable em{
    font-size: 12px;
  }

  .cart__title{
    margin-bottom: 0px!important;
    padding: 20px 0px;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
  }
  .cart__subtitle-empty{
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 300;
    color: #707070;
    line-height: 1.2;
    text-align: center;
  }

  /* checkout section */
.checkout-login-buttons {
  display: flex;
  flex-direction: row;
}
.checkout-success-btn:hover, 
.shipping-del-btn:hover{
  background-color: #333;
}
/* phone-checkout */
.checkout-first-form .or,
.account-login .or {
  text-align: center;
  color: #A7A9AC;
}
.checkout-first-form {
  display: flex;
  justify-content: space-between;
}
.checkout-first-form .remember-me {
  padding-left: 3px;
}
.remember-me .custom-control-label::before {
  top: 0rem!important;
}
.hide-info.custom-control {
  padding-left: 3px;
  margin-top: 5px;
}
.remember .custom-control-label::after {
  top: 0rem;
}
.remember-me.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.remember-me .custom-control-label::after {
  top: 0rem;
     left: -1.48rem;
}
.custom-control {
    margin-bottom: 1rem;
}
.account-login p {
  margin-bottom: 25px;
}
.checkout-section {
  width: 50%;
  padding: 0px 10px 0px 40px;
}
.checkout-first-form .form-control::placeholder { 
    font-size: 13px!important; 
    font-weight: 300;     
} 
.checkout-first-form .form-control {
  border: 1px solid #ced4da;
  height: unset!important;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 0;
}
.checkout-success-btn, 
.shipping-del-btn, 
.checkout-continue-btn,
.checkout-login-btn {
  display: flex!important;
  flex-direction: row;
  justify-content: center;
  width: 50%!important;
  padding: 0.5rem 0.75rem!important;
  border-radius: 5px;
  background-color: #333;
  border: none;
  font-size: 14px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-top: 20px;
  color: #ffffff;
}
.checkout-success-btn, 
.checkout-login-btn {
  margin-top: 0;
  width: 48%!important;
  margin-right: 0!important;
}
.checkoutform-btn-section, 
.loginform-btn-section {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.checkout-section .checkout-instruct {
  margin-top: -0.5rem;
}
.login-btn {
  margin-bottom: 0!important;
  margin-top: 0!important;
}
.google-login, .fb-login {
  text-align: center;
  margin-bottom: 30px;
  padding: 0;
}
.google-login .btn-outline-dark {
  border: none;
  border-radius: 0;
  font-size: 14px;
  color: #757575!important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.218s, 
  border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, 
  border-color 0.218s, box-shadow 0.218s;
}
.google-login .btn-outline-dark:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3)!important;
  background-color: #ffffff!important;
  color: #757575!important;
}
.google-login .btn-outline-dark:active {
  background-color: #eee;
}
.fb-login .btn-outline-dark {
  background: #4267b2;
  background-color: #3b5998;
  border: none;
  border-radius: 0;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.218s, 
  border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, 
  border-color 0.218s, box-shadow 0.218s;
}
.fb-login .btn-outline-dark:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3)!important;
}
.checkout-success-btn:hover, 
.shipping-del-btn:hover ,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:hover,
.btn-primary:not(:disabled):not(.disabled):active{
  background-color:#333;
  opacity: 0.9;
}
.checkout-login-buttons {
  display: flex;
  flex-direction: row;
}
.checkout-login-section 
.checkout-success-btn {
  margin-top: 0;
}
.checkout-success-btn:hover, 
.shipping-del-btn:hover{
  background-color: #333;
}
.change_email, 
.change_address {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  align-items: center;
  display: none;
}
.change_email span, 
.change_address span{ 
  font-size: 13px;  
} 
.change_email button, 
.change_address button{ 
  border: none; 
  background: none; 
  text-decoration: underline; 
  font-size: 13px!important;  
  color: #2E89FF; 
} 
.change_email button:hover, 
.change_address button:hover{ 
  color: #FF0000; 
}
.change_email a:hover, 
.change_address a:hover{ 
  text-decoration: none;  
  color: #2E89FF; 
} 
.change_email button, 
.change_address button{ 
  border: none; 
  background: none; 
  text-decoration: underline; 
  font-size: 12px!important;  
  color: #2E89FF; 
} 
.change_email p, 
.change_address p {
  margin-bottom: 0rem;
  font-size: 13px;
}
.tick-mark .fa-check-circle {
  font-size: 36px;
  color: #7AE7C7;
  margin: 0px;
}
.tick-mark {
  margin-right: 20px;
  margin-top: -170px;
}
/*Checkout-signin*/
.sign_in_email{
  display: flex; 
  flex-direction: row;
  margin-bottom: 10px;
}
.sign_in_email i{
  color: #E47277;
  font-size: 50px;
}
.form-container .row{
  margin: 0!important;
}
/*Shipping methods*/
/* HIDE RADIO */ 
[type=radio] {  
position: absolute; 
opacity: 0; 
width: 0; 
height: 0;  
} 
/* IMAGE STYLES */  
[type=radio] + img {  
  cursor: pointer;  
} 
.delimg{  
  background-image: url(../img/sample/delivery.svg);  
  height: 30px; 
  background-position: center;  
  background-repeat: no-repeat; 
  top: 50px;  
  left: 50px; 
  padding: 30px 0px 0px 0px;  
  color: #c6c6c6;
} 
.delimg:hover, .nav-tabs a.nav-link.active .delimg{ 
  background-image: url(../img/sample/delivery1.svg); 
  color: #2E89FF; 
} 
.pickimg{ 
  background-image: url(../img/sample/ready-stock.png);  
  height: 30px; 
  background-position: center;  
  background-repeat: no-repeat; 
  top: 50px;  
  left: 50px; 
  padding: 30px 0px 0px 0px;  
  color: #c6c6c6;
  background-size: contain;
} 
.pickimg:hover,
.shipping-delivery-section .nav-tabs a.nav-link.active .pickimg{  
  background-image: url(../img/sample/ready-stock-blue.png); 
  color: #2E89FF; 
} 
.delspan, .pickspan{  
  font-size: 12px;  
}  
.shipping-delivery-section .nav-tabs .nav-item {
  width: 48%;
  text-align: center;
  margin-bottom: -1px;  
}
.shipping-delivery-section .nav-tabs a.nav-link {
  color: #333333;
  font-weight: 600;
  border: 1px solid #dedede;  
  border-radius: 5px;
}
.shipping-delivery-section .nav-tabs a.nav-link.active{  
  border-bottom: 1px solid #dedede; 
  color: #2E89FF; 
  background-color: #E0EDFF;
  border: 1px solid #2E89FF;
}
.shipping-delivery-section .nav-tabs {
  border-bottom: none!important;
  justify-content: space-between;
}
button:focus{ 
  outline: none;  
  border: none; 
}
.delivery .form-control, 
.pickup .form-control {
  border: 1px solid #dedede;
  height: unset!important;
  border-radius: 5px!important;
}
.delivery .form-control::placeholder,
.pickup .form-control::placeholder{ 
  font-size: 13px!important; 
  font-weight: 300;  
  color: #bbbbbb;   
} 
#delivery, 
#pickup {
  padding: 0px!important;
}
.payment .custom-control-label::before, 
.payment .custom-control-label::after {
  left: 0.5rem;
}
.payment .custom-control {
  padding: 10px 0px 10px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 16px;
}
.payment .custom-control-label {
  padding-left: 35px;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  margin-left: 20px;
} 
.shipping-delivery-section, .payment {
  display: none;
}
/* CHECKOUT ENDS */

#proceed-to-pay .modal-content {
  text-align: center;
}
#proceed-to-pay .modal-header{
  padding: 15px;
  background-color: #333!important;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border:none;
  text-align: center;
}
#proceed-to-pay .modal-title{
  color: #fff;
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 14px;
}
#proceed-to-pay .btn-light,
#proceed-to-pay .btn-danger{
  border-radius: 0!important;
}
 #proceed-to-pay .modal-footer {
  justify-content: center;
  padding: 20px;
}
.filled button{
  background: #009C86;
}

/* .product-cart .container, .user-login .container, .user-register .container, .user-reset-password .container, .user-wishlist .container, #product-sidebar-left .container {
  max-width: 1200px!important;
} */


/* edit form for profile */
.user__detail-info{
  padding-bottom: 20px;
}
.user__detail-info .user-info-title {
  font-size: 14px;
  font-weight: 600;
  padding: 0!important;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.user__detail-info .user-info-text {
  font-size: 14px;
  margin-bottom: 30px;
}
.user__detail-info a{
  font-size: 12px;
  text-decoration: none;
}

.user__detail-info .form-control::placeholder {
  font-size: 13px!important;
}

.user__detail-info .btn-secondary {
  background-color: transparent;
  padding: 9px 25px;
  border-radius: 18px;
  border-color: grey;
  color: grey;
  font-weight: 600;
  margin: 1.5rem 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 11px;
}

.edit-form {
  display: none;
}
/* edit form for profile ends */

/*my-orders page begins*/
.Orders-status,
.Orders-status span,
.order-details,
.order-reciept-head{
  display: flex;
  justify-content: space-between;
}
.Orders-status{
  margin-bottom: 1.5rem;
  align-items: end;
}
.Orders-status .btn-secondary {
  color: #333; 
  background-color: transparent;
  border-color: #fff!important;
}
.Orders-status .btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  background-color: transparent;
  color: #333;
}
.Orders-status .btn{
  border-color: none!important;
  padding: 0!important;
}
.Orders-status .dropdown-toggle::after {
  margin-left: 0px!important; 
}
.Orders-status .dropdown-menu{
  padding: 0.5rem 0!important;
}
.Orders-status .search-box .input-group {
  margin: 30px 20px 10px 20px;
  width: 80%;
}
/* .Orders-status .input-group-text{
  background: transparent!important;
  border-radius: 0!important;
  border-color: #dedede;
  border-width: 1px;
  border-right: none;
} */
.Orders-status .py-1{
  border-radius: 0!important;
  border-color: #efefef;
  border-width: 1px;
  border-left: none!important;
  padding: 0.50rem 0!important;
  background-color: #efefef;
}
.Orders-status-left h4 {
  font-size: 1.2rem;
  font-weight: 400;
}
.Sort-date{
  padding-top: 5px;
  padding-right: 40px;
}
.order-details{
  padding: 0px 20px 50px 20px;
}
.order-number {
  flex-basis: 40%;
}
.order-reciept-head,
.order-number-head{
  border-bottom: 1px solid #b0b0b0;
  height: 65px;
}
.order-reciept-head span{
  font-weight: 700;
}
.order-number-details,
.tracking-number-details{
  margin-top: 20px;
}
.order-number-details span,
.tracking-number-details span{
  font-weight: 600;
}
.order-note{
  font-size: 15px;
}
.order-note span{
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  display: inline-block;
}
.btn-secondary {
  padding: 9px 25px;
  border-radius: 18px;
  background-color: transparent;
  border-color: grey;
  color: grey;
  font-weight: 600;
  margin: 1.5rem 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 11px;
}
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  padding: 9px 25px;
  border-radius: 18px;
  background-color: transparent;
  border-color: grey;
  color: #333;
  font-weight: 600;
  margin: 1.5rem 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 11px;
}
.order-reciept {
  width: 55%;
}
.order-reciept-body{
  padding: 20px 0 10px 0;
}
.order-reciept-body .row {
  margin-bottom: 1rem;
}
.order-reciept-body-text{
  padding-top: 10px;
}
.product-detail {
  display: flex;
  justify-content: flex-start;
}
.product-detail img {
  padding-right: 10px;
}
.product-quantity,
.product-price{
  padding-top: 30px;
}
.order-reciept-price dl{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0!important;
}
.order-reciept-price-title,
.order-reciept-price-amount{
  font-weight: 400;
  font-size: 14px;
}
.order-reciept-price-total,
.order-reciept-price-total-amount{
  font-size: 15px;
  font-weight: 600;
}
.order-complete{
  padding: 10px 24px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
}
.order-complete-left{
  text-align: left;
}
.order-complete-left h3{
  font-size: 1rem;
  padding-top: 10px;
}
.order-complete-left p,
.Orders-status-title{
  font-weight: 400;
}
.order-complete-right{
  text-align: right;
}
.order-complete-right span,
.order-complete-left span{
  font-weight: 600;
}
.order-complete-right a{
  text-decoration: underline!important;
  color: #333!important;
  line-height: 1.5;
}
.order-complete-right p{
  margin-bottom: 0!important;
  line-height: 1.8;
}

/*Accordion*/
.view-detail-accordion .card{
  width: 100%;
  margin: 0!important;
}
.view-detail-accordion .card-header{
  background-color: transparent;
  border: none;
  padding: 0;
}
.qty-mob,
.button-mob{
  display: none;
}
.no-orders-text {
  display: none; /*display only when no orders or empty order*/
}
/* my orders ends */


/*track-my-order*/
.track-my-order-form{
  padding-bottom: 30px;
}
.track-my-order-form .form-control{
  width: 40%;
  border-radius: 0.25rem;
  font-size: 14px;
}
.track-my-order-form .form-group {
  margin-right: 20px;
}
.track-my-order-detail,
.track-my-order-left-head{
  display: flex;
  justify-content: space-between;
}
.track-my-order-left h5,
.track-my-order-right h5{
  font-weight: 400;
  font-size: 20px;
}
.track-my-order-left-head span{
  font-weight: 600;
}
.track-my-order-left,
.track-my-order-right{
  flex-basis: 40%;
  margin: 30px 0px;
  font-size: 14px;
}
.track-my-order-right{
  line-height: 0;
}
.track-my-order-right-head h5 span{
  font-weight: 600;
}
/* .tracking-number-details .btn-secondary{
  padding: 7px 40px;
  border-radius: inherit!important;
  background: #dedede;
  border-color: #dedede!important;
  color: #333!important;
}
.tracking-number-details .btn-secondary:hover{
  background: #c4c4c4;
  opacity: 0.9;
} */
.track-order{
  padding-top: 15px;
}

/*Tracking-steps*/
.sort-by-my-orders .form-group{
  display: -webkit-inline-box;
  margin-bottom: 0px;
  margin-right: 50px;
}
.sort-by{
  margin: -9px 0px;
}
.Orders-status-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.sort-by-my-orders {
  margin-right: 30px;
}
.stock-mob,
.remove-from-list-mob,
.add-to-cart-mob,
.remove-from-list-mob-next{
  display: none;
}
.orderstatus {
  color: #939393;
  display: block;
  padding: 1em 0;
  position: relative;
  text-align: center;
  min-height: 140px;
}
.orderstatus.done:before {background: #7AE7C7;}
.orderstatus:before {
  content: '';
  height: 100%;
  position: absolute;
  left: 50%;
  width: 2px;
  background: #7AE7C7;
  margin: 0 25px;
}
.orderstatus:last-child:before {height: 0;}
.orderstatus.done {color: #333;}

@media only screen and (max-width: 40em) {
  .orderstatus {
    text-align: left;
  }
  .orderstatus:before {
    left: 0;
  }
  .orderstatus .orderstatus-text {
    left: 0;
    width: 100%;
  }
}

.orderstatus-text {
  position: relative;
  width: 100%;
  left: 50%;
  text-align: left;
  padding-left: 60px;
  color: #333;
  font-weight: 700;
  padding-top: 18px;
  margin-left: 15px;
}

@media only screen and (min-width: 40em) {
  .orderstatus:nth-child(2n) .orderstatus-text {
    padding-right: 20px;
    padding-top: 18px;
  }
}

.orderstatus-container {
  padding: 2em 0;
}

.orderstatus time {
  display: block;
  font-size: 1em;
  color: #505050;
  font-weight: 400;
}

.orderstatus.done time {
  color: #505050;
  font-weight: 400;
  line-height: 1.2;
  font-size: 12px;
}

@media only screen and (max-width: 40em) {
  .orderstatus-container {
    text-align: center;
  }
}

.orderstatus-check {
  font-family: "Helvetica", Arial, sans-serif;
  border: 2px solid #7AE7C7;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  margin-bottom: 0.5em;
  background: #fff;
  z-index: 2;
  position: absolute;
  color: #7AE7C7;
  left: 50%;
}

.done .orderstatus-check {
  color: #7AE7C7;
  border-color: #7AE7C7;
}

@media only screen and (max-width: 40em) {
  .orderstatus-check {
    left: 0;
  }
}

.orderstatus-active {
  text-align: center;
  position: relative;
  left: 25px;
  top: 20px;
  color: #939393;
}

@media only screen and (max-width: 40em) {
  .orderstatus-active {
    display: none;
  }
}
.track-my-order-right .row{
  margin-left: -117px;
}
.orderstatus-text p{
  font-size: 16px;
  font-weight: 600;
}
.orderstatus-number{
  font-size: 20px;
}
.track-my-order-detail .btn-secondary{
  display: block;
}
.mob-separation,
.track-my-order-detail .btn-secondary-mob{
  display: none;
}

main .related_product .related_product-cards {
  margin: 0 0 30px 0!important;
}

/* left out code */
.form-control:focus{
  outline: none!important;
  box-shadow: none!important;
}

.track-my-order-form .track-button {
  margin-top: 0!important;
}

/* .track-my-order-form .track-button{
  padding: 0.375rem 4rem!important;
  color: #fff;
  background-color: #333;
  border-color: #333;
  border-radius: 0px;
}
.track-my-order-form .track-button:hover,
.track-my-order-form .track-button:not(:disabled):not(.disabled):active{
  color: #fff;
  background-color: #333;
  border-color: #333;
  opacity: 0.9;
} */

/* track my order ends */